/* ?网页主体-body */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    /* background-image: url(../Assets/缩略图/background.png); */
    background-color: rgb(246, 248, 254);
    color: rgb(68, 68, 68);
    font-family: Harmony Sans SC, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.网页头部 {
    /* background-image: url(../Assets/缩略图/background.png); */
    background-color: rgb(155, 155, 155);
    background-repeat: no-repeat;
    width: 100%;
    backdrop-filter: blur(0.2rem);
    box-sizing: border-box;
    box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(155, 155, 155, 0.683);
    transform: scale(1);
    transition: transform .3s;
    border-radius: 1rem;
}

.网页头部:hover {
    cursor: default;
    transform: scale(1.05);
    transition: transform .3s;
}


.网页头部 .中心问候 {
    padding: 20%;
    padding-top: 25%;
    padding-bottom: 10%;
    display: grid;
    grid-template-areas:
        "title"
        "icons";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
}

.网页头部 .中心问候 .中心问候-flex-item {
    font-size: 2rem;
    grid-area: title;
    text-align: center;
    color: rgb(255, 255, 255);
}

.网页头部 .中心问候 .中心问候-flex-svg {
    grid-area: icons;
    background-color: #797979;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/* todo不生效 */
/* .网页头部 .中心问候 .中心问候-flex-svg:nth-child(2) {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
} */

.网页头部 .中心问候 .中心问候-flex-svg span {
    margin: 0rem 0.5rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    text-align: center;
    grid-row: 2;
}

.网页头部 .中心问候 .中心问候-flex-svg img {
    width: 1rem;
    padding: 0.2rem;
    color: #000000;
    filter: invert(100%);
}

/* ?顶部导航栏 */
.顶部导航栏 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.67);
    padding: 1.2rem;
    box-sizing: border-box;
    top: 0;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(97, 97, 97, 0.137);
    backdrop-filter: blur(0.3rem);
    /* 高斯模糊 */
}

.顶部导航栏 .nav-title {
    font-size: 2rem;
    font-weight: bold;
    flex-grow: 1;
    color: rgb(68, 68, 68);
    text-decoration: none;
}

.顶部导航栏 .nav-占位 {
    flex-grow: 4;
    /*todo未生效*/
    border: #000;
}

.顶部导航栏 .nav-title:hover {
    color: orange;

}

/* ?顶部导航栏 - nav-item */
.nav-item {
    font-size: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding: 0.2rem 1rem;
}

.nav-item img {
    width: 1rem
}

.nav-item a {
    /* ?去除下划线 - 初始化链接的样式 */
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(68, 68, 68);
    margin-top: 0.3rem;
    border: #000;
}

.nav-item:hover {
    background-color: rgba(68, 68, 68, 0.1);
    color: orange;
    filter: invert(71%) sepia(12%) saturate(7449%) hue-rotate(358deg) brightness(100%) contrast(105%);
    border-radius: 0.4rem;
}


/* ?网页主体 */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
}

main h1 {
    font-size: 2.2rem;
}

main h3 {
    font-size: 1.8rem;
}

main h4 {
    font-size: 1.6rem;
}

main p {
    color: rgba(0, 0, 0, 0.67);
    font-size: 1rem;
    position: relative;
    padding-bottom: 0%;
    text-indent: 2em;
    /* 首行缩进2个字符 */
    text-align: justify;
    /* 两端对齐 */
    text-justify: newspaper;
    /* 悬挂缩进 */
    line-height: 1.5;
    /* 行间距 */
}

main a {
    color: rgb(68, 68, 68);
    text-underline-offset: 0.5rem;
    text-decoration: none;
    text-decoration-color: rgb(107, 115, 115);
    transition: color.3s ease;
    padding: 1rem 2rem;
}

main a:hover {
    color: orange;
    background-color: rgba(212, 207, 207, 0.465);
    padding: 1rem 2rem;
}

main .文章列表 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;

}

main .文章列表 .blog {
    background-color: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(97, 97, 97, 0.137);
    transform: scale(1);
    transition: box-shadow .3s ease;
}

main .文章列表 .blog:hover {
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(97, 97, 97, 0.137);
    transform: scale(1.05);
    transition: box-shadow .3s ease;
}

main img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/* ?网页根部 */
.footer {
    color: grey;
    font-size: 0.8rem;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer:hover {
    color: rgb(31, 31, 31);
}

/* ?媒体查询 */
@media only screen and (max-width: 768px) {
    body {
        font-size: small;
    }

    main {
        font-size: 100%;
        font: inherit;
        padding: 0;
        margin: 2rem;
        border: 0;
        vertical-align: baseline;
        box-sizing: border-box;
    }
}