#顶部进度条 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: .1rem;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #8210fb;
}

.顶部导航栏 {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1.2rem 1.2rem;
    box-sizing: border-box;
    top: 0;
    box-shadow: 0rem 0.2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(0.5rem);高斯模糊 */
}

/* * nav-title：标题 */
.nav-title {
    font-family: 华文中宋;
    font-size: 2rem;
    font-weight: bold;
    flex-grow: 1;
    color: rgb(68, 68, 68);
    text-wrap: nowrap;
}

.nav-title:hover {
    color: orange;
}

/* * nav-item：菜单栏 */
.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    flex-grow: 1.3;
}

.nav-item img {
    height: 1rem;
    filter: invert(38%) sepia(5%) saturate(9%) hue-rotate(327deg) brightness(101%) contrast(90%);
}

.nav-item a span:hover {
    filter: invert(56%) sepia(100%) saturate(648%) hue-rotate(359deg) brightness(101%) contrast(105%);
    /*让图片和文本变色*/
}

.nav-item a span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    gap: .3rem;
    filter: invert(38%) sepia(5%) saturate(9%) hue-rotate(327deg) brightness(101%) contrast(90%);
}

.nav-item a:hover+.二级菜单 {
    display: block;
}

.菜单 {
    position: relative;
}
.二级菜单::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0rem;
    width: 100%;
    height: 1rem;
}
.二级菜单 {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;
    box-shadow: 0rem 0.2rem .5rem rgba(0, 0, 0, 0.5);
    top: 2rem;
    left: -1rem;
}
.二级菜单 a {
    display: block;
    padding:.5rem 1rem;
}

.二级菜单:hover {
    display: block;
}

/* * nav-end：主题样式 */
.nav-end {
    flex-grow: 2;
}

.主题样式 {
    display: relative;
    text-align: end;
    cursor: pointer;
}

.主题样式 img {
    width: 1.4rem;
    filter: invert(38%) sepia(5%) saturate(9%) hue-rotate(327deg) brightness(101%) contrast(90%);
    vertical-align: bottom;
}
