/* 样式初始化 */
a {
    text-decoration: none;/* ?去除下划线 - 初始化链接的样式 */
}

/* 正文 */
#顶部进度条 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: .1rem;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #8210fb;
}

.顶部导航栏 {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0.8rem 1rem;
    box-sizing: border-box;
    top: 0;
    box-shadow: 0.3rem 0.3rem 0.3rem rgba(97, 97, 97, 0.137);
    /* backdrop-filter: blur(0.5rem);高斯模糊 */
}

.顶部导航栏 .nav-title {
    font-family: 华文中宋;
    font-size: 2rem;
    font-weight: bold;
    flex-grow: 1;
    color: rgb(68, 68, 68);
}

.顶部导航栏 .nav-title:hover {
    color: orange;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    color: rgb(68, 68, 68);
}

.nav-item img {
    height: 1rem;
}

.nav-item a span:hover {
    /* color: orange; */
    filter: invert(71%) sepia(12%) saturate(7449%) hue-rotate(358deg) brightness(100%) contrast(105%);
    border-radius: 0.4rem;
}

.nav-end {
    flex-grow: 1;
    text-align: right;
}


