/* ?网页主体-body */
body {
    /* background-image: url(../Assets/缩略图/background.png); */
    background-color: rgb(246, 248, 254);
    color: rgb(68, 68, 68);
    font-family: 苹方, sans-serif;
}

.网页头部 {
    background-image: url(../Assets/缩略图/安比（2）.png);
    background-color: rgb(155, 155, 155);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(0.2rem);
    box-sizing: border-box;
    box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(255, 254, 254, 0.683);
    transform: scale(1);
    transition: transform .3s ease-in-out;
    cursor: default;
    overflow: hidden;
    font-family: Mithril, 苹方, sans-serif;
}

.网页头部:hover {
    transform: scale(1.05);
}


.网页头部 .中心问候 {
    padding: 20%;
    /* padding-top: 20%; */
    padding-bottom: 10%;
    display: grid;
    grid-template-areas:
        "title"
        "icons";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
}

.网页头部 .中心问候 .中心问候-flex-item {
    font-size: 5rem;
    grid-area: title;
    text-align: center;
    color: rgb(191, 255, 42);
}

.网页头部 .中心问候 .中心问候-flex-svg {
    grid-area: icons;
    background-color: #797979;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.网页头部 .中心问候 .中心问候-flex-svg span {
    margin: 0rem 0.5rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    text-align: center;
    grid-row: 2;
}

.网页头部 .中心问候 .中心问候-flex-svg img {
    width: 1.2rem;
    padding: 0.2rem;
    color: #000000;
    filter: invert(100%);
}

/* ?网页主体 */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2rem;
}

main h1,main h2,main h3,main h4,main h5,main h6,main p,main a,main img {
    width: 100%;
}

main h1 {
    font-size: 2.0rem;
    padding-top: 0.96rem;
    padding-bottom: 1.44rem;
    font-weight: 800;
}

main h2 {
    font-size: 1.4rem;
    padding-top: 0.88rem;
    padding-bottom: 1.32rem;
    font-weight: bold;
}

main h2::after {
    content: "";
    display: block;
    height: .05rem;
    width: 100%;
    background-color: rgba(154, 154, 154, 0.131);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main h3 {
    font-size: 1.2rem;
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
}

main h4 {
    font-size: 1rem;
    padding-top: 0.72rem;
    padding-bottom: 1.08rem;
}

main p {
    color: rgba(0, 0, 0, 0.67);
    font-size: 1rem;
    text-indent: 2em;/* 首行缩进2个字符 */
    text-align: justify;/* 两端对齐 */
    text-justify: newspaper;/* 悬挂缩进 */
    line-height: 1.5;/* 行间距 */
}

main a {
    color: rgb(68, 68, 68);
}

main .文章列表 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}

.blog {
    background-color: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0rem 0.0625rem 1.25rem -0.375rem rgba(0, 0, 0, 0.5);
    transition: box-shadow .3s ease-in-out;
    height: 16rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: default;
}

.blog:hover {
    box-shadow: 0rem .0625rem 1.25rem 0rem rgba(0, 0, 0, 0.5);
    /* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
}

.blog:hover a {
    color: orange;
}

.卡片信息 {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
}

.icon {
    width: 1rem;
    height: 1rem;
    filter: invert(38%) sepia(5%) saturate(9%) hue-rotate(327deg) brightness(101%) contrast(90%);
}

.卡片信息 .发布时间 {
    display: flex;
    flex-direction: row;
    gap: .3rem;
}

.卡片信息 .卡片标题 {
    font-size: 1.5rem;
    font-weight: bold;
    text-wrap: wrap;
}

.卡片信息 .其他信息 {
    display: flex;
    flex-direction: row;
}

.其他信息 .标签 {
    display: flex;
    flex-direction: row;
    gap: .3rem;
}

.卡片信息 .文章简介 {
    font-size: 1rem;
    text-align: justify;/* 两端对齐 */
    line-height: 1.4;/* 行间距 */
    overflow: hidden;
}

.blog .img {
    width: 55%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ?网页根部 */
.footer {
    color: grey;
    font-size: 0.8rem;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer:hover {
    color: rgb(31, 31, 31);
}

/* ?媒体查询 */
@media only screen and (max-width: 768px) {
    body {
        font-size: small;
    }

    main {
        font-size: 100%;
        font: inherit;
        padding: 0;
        margin: 2rem;
        border: 0;
        vertical-align: baseline;
        box-sizing: border-box;
    }
}

/* ?自定义字体 */
@font-face {
    font-family: '方正新书宋简体';
    src: url('../Assets/字体/方正新书宋简体.ttf');
}

@font-face {
    font-family: '华文中宋';
    src: url('../Assets/字体/华文中宋.ttf');
}

@font-face {
    font-family: '秋水书体';
    src: url('../Assets/字体/秋水书体.woff2');
}

@font-face {
    font-family: '汉仪中宋';
    src: url('../Assets/字体/汉仪中宋S.ttf');
}

@font-face {
    font-family: '汉仪大宋';
    src: url('../Assets/字体/汉仪大宋简.ttf');
}

@font-face {
    font-family: '汉仪书宋二';
    src: url('../Assets/字体/汉仪书宋二S.ttf');
}

@font-face {
    font-family: '汉仪细等线';
    src: url('../Assets/字体/汉仪细等线S.ttf');
}

@font-face {
    font-family: '汉仪中等线';
    src: url('../Assets/字体/汉仪中等线S.ttf');
}

@font-face {
    font-family: '苹方';
    src: url('../Assets/字体/苹方简体/PingFang\ Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: '苹方';
    src: url('../Assets/字体/苹方简体/PingFang\ Regular.ttf');
}

@font-face {
    font-family: '苹方';
    src: url('../Assets/字体/苹方简体/PingFang\ Bold.ttf.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Baskerville';
    src: url('../Assets/字体/Baskerville/Baskerville-Regular-6.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('../Assets/字体/Baskerville/Baskerville-Bold-1.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('../Assets/字体/Baskerville/Baskerville-Italic-3.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Baskerville';
    src: url('../Assets/字体/Baskerville/Baskerville-BoldItalic-2.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mithril';
    src: url('../Assets/字体/汉仪-Mithril.ttf');
}